/build**
src/build/*
src/build/**
.vscode
obj-**
debian/rpi-imager/**
debian/.debhelper**
debian/*.debhelper**
debian/files
debian/*.substvars
debian/debhelper**
debian/tmp
.DS_Store
*.DS_Store
# editor backups
*.*swp*

# AppImage related
*.AppImage*
*.appimagecraft*
