/build**
src/build/*
src/build/**
compile_commands.json
src/.cache/clangd
obj-**

# IDE Configurations
.vscode
.zed

# Debian packaging
debian/rpi-imager/**
debian/rpi-imager-amd64/**
debian/rpi-imager-embedded/**
debian/.debhelper**
debian/*.debhelper**
debian/files
debian/*.substvars
debian/debhelper**
debian/tmp

# macOS
.DS_Store
*.DS_Store
# editor backups
*.*swp*

# AppImage related
*.AppImage*
*.appimagecraft*
AppDir-*
appimage-*

# Qt related
qt-build**
qt-src**
build
build-aarch64
build-x86_64
