[Unit]
Description=Configure USB Ethernet Gadget
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount
Requires=systemd-modules-load.service
After=systemd-modules-load.service

[Service]
Type=oneshot
WorkingDirectory=/sys/kernel/config/usb_gadget
ExecStart=/usr/sbin/configure-usb-ether-gadget-once
StandardOutput=journal+console
# TODO: remove
User=root

[Install]
WantedBy=usb-gadget.target
