[Unit]
Description=Start Raspberry Pi Embedded Imager on bootup

[Service]
Type=oneshot
ExecStart=/bin/rpi-imager-embedded
StandardOutput=append:/embedded-imager.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
