[Unit]
Description=Raspberry Pi Imager (Embedded EGLFS Mode)
Documentation=https://github.com/raspberrypi/rpi-imager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rpi-imager-embedded
Restart=on-failure
RestartSec=5
User=root
Group=root
Environment=HOME=/root
Environment=XDG_RUNTIME_DIR=/run/user/0

[Install]
WantedBy=multi-user.target 