[Desktop Entry]
Type=Application
Version=1.0
Name=Imager
Comment=Raspberry Pi Imager
Icon=rpi-imager
Exec=rpi-imager
Categories=System;Utility;Archiving;
GenericName=Write Raspberry PI OS images to SD card
StartupNotify=false
